body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-container-shop {
    width: 80%;
    margin: auto;
}

.search {
    position: relative;
    top: 18px;
    margin-bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 3rem;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.search input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1.5rem;
}

.mencard-title, .title {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #333;
    text-align: center;
}

.shopping-cards {
    display: flex;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    gap: 20px;
    padding: 1rem 0;
}

.shopping-cards .cards {
    width: 293px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-right: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background: white;
}

.shopping-cards .cards:hover {
    transform: translateY(-7px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shopping-cards img {
    width: 100%;
    height: 304px;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
    padding: 20px;
}

.shopping-cards .middle {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.shopping-cards p {
    margin: 0.5rem;
    padding-right: 12px;
}

.middle .special-p {
    margin-right: 0.8rem;
}

#addTocard-btn {
    width: 100%;
    height: 40px;
    background-color: #333;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#addTocard-btn:hover {
    background-color: #444;
}

.tags .special-tag, .tags .other-tag {
    width: 228.16px;
    height: 36.8px;
    margin: 16px 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tags .special-tag {
    background-color: black;
    color: white;
}

.tags .other-tag {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

.tags .other-tag:hover {
    background-color: #f4f4f4;
}

.cart-container {
    position: relative;
    top: 56px;
    padding: 1rem;
}

.cart-container h1 {
    text-align: center;
    margin: 16px 0;
    font-size: 40px;
    color: #333;
}

.carts-checkout {
    display: flex;
    justify-content: center;
}

.carts-checkout .checkout-list {
    width: 272px;
    height: 320px;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.checkout-list .total {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.checkout-list .top-title {
    text-align: center;
    margin: 16px 0;
}

.checkout-list button {
    margin-top: 16px;
    height: 40px;
    width: 176px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-list button:hover {
    background-color: #f4f4f4;
}

.checkout-list hr {
    margin: 8px 0;
}

.limited-width{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 360px) {
    .main-container-shop{
        width: 92%;
    }

    .shopping-cards .cards{
        width: 220px;
    }

    .shopping-cards .cards img{
        width: 100%;
        height: 200px;
        padding: 5px
    }

    .shopping-cards{
        padding: 0px;
        gap: 2px;
    }
}

@media (max-width: 769px) {
    .main-container-shop{
        width: 92%;
    }

    .shopping-cards .cards{
        width: 220px;
    }

    .shopping-cards .cards img{
        width: 100%;
        height: 200px;
        padding: 8px
    }

    .shopping-cards{
        padding: 0px;
        gap: 2px;
    }
}

@media (max-width: 885px) {
    .main-container-shop{
        width: 92%;
    }

    .shopping-cards .cards{
        width: 220px;
    }

    .shopping-cards .cards img{
        width: 100%;
        height: 200px;
        padding: 8px
    }

    .shopping-cards{
        padding: 0px;
        gap: 2px;
    }
}

@media (max-width: 1281px) {
    .main-container-shop{
        width: 95%;
    }

    .shopping-cards .cards{
        width: 300px;
        margin-right: 0px;
    }

    .shopping-cards .cards img{
        width: 100%;
        padding: 8px
    }

    .shopping-cards{
        padding: 0px;
        gap: 30px;
    }

}