#signup-container, #login-container {
    display: flex;
    flex-direction: column;
    height: 91.5vh;
    align-items: center;
    background-color: #f4f4f4;
}

.form-container {
    width: 50%;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.form-info p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #333;
}

form input {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
    padding-left: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, border-color 0.3s;
}

form input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #333;
}

#btnOfSignup, .orgLogin{
    width: 100%;
    height: 2.5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#btnOfSignup:hover {
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#alert {
    color: red;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1rem;
}

#alert1 {
    color: green;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1rem;
}

@media (max-width: 360px) {
    .form-container {
        width: 90%;
    }
}

@media (max-width: 885px) {
    .form-container {
        width: 80%;
    }
}